# Default values for nakupify-platform.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
# As the main platform chart these values are global and shared among all sub-charts.

postgresDb:
  enable: true
  autoCreateUserSchema: true
  # name:  nakupify-postgres-db # Name of the PostgresCluster, default is .Release.Name
  #monitoring: true
  users:
    # this user is only used to create the initial database, and roles/users, secret is created automatically
    - name: "initializer"
      password:  # will generate a random password if not set
        type: ASCII
      # databases:
      #   - "nakupify_db"
      options: "SUPERUSER,CREATEDB,CREATEROLE"
    # - name: "keycloakuser"
    #   password:  # will generate a random password if not set
    #     type: ASCII
    #   databases:
    #     - "keycloak_db"
    #   options: "NOSUPERUSER,CREATEDB,CREATEROLE"
  # also can create multiple instances
  instanceName: nakupify-postgres-instance
  instanceSize: 1Gi
  instanceMemory: 1Gi # azure VMs are too weak for more
  instanceCPU: 1 # azure VMs are too weak for more
  # backupSize: 5Gi
  # backupsStorageClassName: "standard"
  # pgBackRestConfig:
  #   manual:
  #     repoName: repo1
  #     options:
  #       - --type=full
  # instanceReplicas?
  # service: 

keycloak:
  dbInit:
    db:
      user: keycloakuser
      database: keycloak_db
      schema: keycloak_schema

    pgAdminUser: initializer
    pgImageTag: "17"


kafka:
  enabled: true
  #metrics:

prometheus:
  enabled: false