apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: broker
  namespace: default
  labels:
    strimzi.io/cluster: nakupify-kafka
spec:
  replicas: 1
  roles:
    - broker
    - controller
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  storage:
    type: persistent-claim
    size: 5Gi
    class: managed