name: Publish Helm Charts

on:
  push:
    tags:
      - 'chart-*'   # example: chart-myapp-0.1.0

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | \
          helm registry login ghcr.io \
            --username ${{ github.actor }} \
            --password-stdin

      - name: Package charts
        run: |
          # Find all directories containing Chart.yaml
          find . -maxdepth 2 -type f -name "Chart.yaml" -exec dirname {} \; | while read chartdir; do
            echo "Packaging chart in $chartdir"
            helm package "$chartdir"
          done

      - name: Push chart to GHCR
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          for tgz in *.tgz; do
            echo "Pushing $tgz"
            helm push "$tgz" oci://ghcr.io/$OWNER
          done